In [1]:
from pyspark.sql import SparkSession
import findspark

findspark.init()
spark = SparkSession.builder.appName('challenge').config('spark.sql.legacy.timeParserPolicy','LEGACY').getOrCreate()

In [2]:
data_3 = spark.read.csv('./salary_data/data_3.csv', header=True, multiLine=True)

In [3]:
data_3.printSchema()

root
 |-- Timestamp: string (nullable = true)
 |-- Employer: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Years at Employer: string (nullable = true)
 |-- Years of Experience: string (nullable = true)
 |-- Annual Base Pay: string (nullable = true)
 |-- Signing Bonus: string (nullable = true)
 |-- Annual Bonus: string (nullable = true)
 |-- Annual Stock Value/Bonus: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Additional Comments: string (nullable = true)

In [4]:
from functools import reduce
better_names = ['timestamp','employer','location','job_title','years_at_employer','years_of_experience','annual_base_pay','signing_bonus','annual_bonus','annual_stock_value','gender','additional_comments']
data_3 = reduce(lambda df, params: df.withColumnRenamed(*params), zip(data_3.columns, better_names), data_3)

In [5]:
data_3.createOrReplaceTempView('data_3')
data_3.printSchema()

root
 |-- timestamp: string (nullable = true)
 |-- employer: string (nullable = true)
 |-- location: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- years_at_employer: string (nullable = true)
 |-- years_of_experience: string (nullable = true)
 |-- annual_base_pay: string (nullable = true)
 |-- signing_bonus: string (nullable = true)
 |-- annual_bonus: string (nullable = true)
 |-- annual_stock_value: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- additional_comments: string (nullable = true)

In [6]:
spark.sql('''
    SELECT to_timestamp(timestamp, 'M/d/yyyy HH:mm:ss'), timestamp
    FROM data_3
''').show()

+------------------------------------------+------------------+
|to_timestamp(timestamp, M/d/yyyy HH:mm:ss)|         timestamp|
+------------------------------------------+------------------+
|                                      null|              null|
|                       2016-03-21 12:54:49|3/21/2016 12:54:49|
|                       2016-03-21 12:58:52|3/21/2016 12:58:52|
|                       2016-03-21 12:58:57|3/21/2016 12:58:57|
|                       2016-03-21 12:58:58|3/21/2016 12:58:58|
|                       2016-03-21 12:59:11|3/21/2016 12:59:11|
|                       2016-03-21 12:59:30|3/21/2016 12:59:30|
|                       2016-03-21 13:00:17|3/21/2016 13:00:17|
|                       2016-03-21 13:00:20|3/21/2016 13:00:20|
|                       2016-03-21 13:01:19|3/21/2016 13:01:19|
|                       2016-03-21 13:01:19|3/21/2016 13:01:19|
|                       2016-03-21 13:02:01|3/21/2016 13:02:01|
|                       2016-03-21 13:02:04|3/21/2016 13:02:04|
|                       2016-03-21 13:02:08|3/21/2016 13:02:08|
|                       2016-03-21 13:03:03|3/21/2016 13:03:03|
|                       2016-03-21 13:03:06|3/21/2016 13:03:06|
|                       2016-03-21 13:03:23|3/21/2016 13:03:23|
|                       2016-03-21 13:03:35|3/21/2016 13:03:35|
|                       2016-03-21 13:03:52|3/21/2016 13:03:52|
|                       2016-03-21 13:03:56|3/21/2016 13:03:56|
+------------------------------------------+------------------+
only showing top 20 rows

This dataset is by far the most difficult to work with because there are many data informed in a "troll" way and should be discarded for any valid analysis. Due to time constraints, this cases were not removed from the dataset.

In [7]:
spark.sql('''
    SELECT DISTINCT initcap(location)
    FROM data_3
    
''').show(100000, truncate=False)

+---------------------------------------------+
|initcap(location)                            |
+---------------------------------------------+
|94102                                        |
|Brisbane, Australia                          |
|Alexandria, Va                               |
|Bangalore                                    |
|70170                                        |
|Somerville, Ma                               |
|Utah                                         |
|Nigga                                        |
|Did                                          |
|Woburn, Ma                                   |
|Charleston                                   |
|Paraguay                                     |
|Wellington                                   |
|Russia                                       |
|Alpharetta, Ga                               |
|Radford, Va                                  |
|판교                                         |
|Remote - North America                       |
|Phoenix                                      |
|Kochi                                        |
|Ithaca, Ny                                   |
|Hogschwarts                                  |
|Chattanooga, Tn                              |
|Waltham                                      |
|Menlo Park                                   |
|Cluj-napoca, Romania                         |
|Greenville, Sc                               |
|Chicago Il                                   |
|Việt Nam                                     |
|Palo Alto                                    |
|Ca                                           |
|Minnesota                                    |
|Sam Diego                                    |
|Porto - Portugal                             |
|New York, New York                           |
|Madrid                                       |
|Omaha                                        |
|Johannesburg, South Africa                   |
|Prague                                       |
|Product Engineer                             |
|Baltimore, Maryland                          |
|Bothell                                      |
|Sweden                                       |
|New Hork                                     |
|Pa                                           |
|The Netherlands                              |
|Rolla, Mo, Usa                               |
|Oslo, Norway                                 |
|Ohio                                         |
|Des Moines, Ia                               |
|Indianapolis, In                             |
|Rennes, Fr                                   |
|Glendale, Ca                                 |
|Foster City, Ca                              |
|Indianapolis In                              |
|New York City, Ny                            |
|Stuart, Fl                                   |
|Halifax, Ns, Canada                          |
|Moutain View                                 |
|Perth, Western Australia                     |
|Bellevue Wa                                  |
|Everett                                      |
|South Germany                                |
|Ottawa                                       |
|Toronto, On, Canada                          |
|Philippines                                  |
|Edinburgh                                    |
|Salamanca, Spain                             |
|Sewttle                                      |
|Zaragoza, España                             |
|Shibuya                                      |
|Palo Alto, Ca                                |
|Dallas                                       |
|Greenville Sc                                |
|Remote                                       |
|Nordrhein-westfalen                          |
|Aaaa                                         |
|Singapore                                    |
|Malaysia                                     |
|Mount Laurel                                 |
|Dallas Tx                                    |
|음                                           |
|Cupertino                                    |
|Oakland                                      |
|Turkey                                       |
|Bc, Canada                                   |
|Pittsburgh, Pa                               |
|Washington Dc                                |
|Irving, Tx                                   |
|Germany, Frankfurt                           |
|Davis                                        |
|Jakarta                                      |
|Bangalore India                              |
|Geneva, Switzerland                          |
|Midwest, Usa                                 |
|Meridian, Id                                 |
|Frankfurt                                    |
|Toulouse, France                             |
|Bay Area, Ca                                 |
|Reading, Uk                                  |
|Silicon Valley, Ca                           |
|Hatfield, Pa                                 |
|Buffalo, Ny                                  |
|Montreal, Quebec, Canada                     |
|Irvine, Ca                                   |
|Washington, Usa                              |
|Melbourne, Vic, Au                           |
|Indianapolis, In, Usa                        |
|Auckland, New Zealand                        |
|Cambridge Ma                                 |
|Beijing                                      |
|Columbus Ohio                                |
|Boulder, Colorado                            |
|Jan Jose                                     |
|Cleveland, Oh                                |
|Warsaw, Poland                               |
|Germany                                      |
|Redwood City, Ca                             |
|Pasadena, Ca                                 |
|St. Paul, Mn                                 |
|Bern                                         |
|Europe                                       |
|Northern Va                                  |
|Oregon                                       |
|Southern Sweden                              |
|Schenectady, Ny                              |
|Arkansas                                     |
|Remote/everywhere/usa                        |
|Lisbon                                       |
|San Antonio                                  |
|Boston Metro                                 |
|Pleasanton                                   |
|Raleigh                                      |
|Sunnyvale Ca.                                |
|Lyon, France                                 |
|Sunnyvale, California                        |
|Sunnyvale, Ca, Usa                           |
|Philadelphia                                 |
|Stockholm                                    |
|Poughkeepsie, Ny                             |
|Oklahoma City, Ok                            |
|Dortmund, Germany                            |
|Amsterdam Area (remote From Bucharest)       |
|Hanoi, Vietnam                               |
|Berkeley Ca                                  |
|Jordan                                       |
|Ankara, Turkey                               |
|Auckland                                     |
|Lehi, Ut                                     |
|Constanta, Romania                           |
|Q                                            |
|Ruhrgebiet, Germany                          |
|Mill Valley, Ca                              |
|Germany, Brunswick                           |
|Israel, Tel Aviv                             |
|Saint-petersburg, Russia                     |
|Boulder Co                                   |
|Los Angeles                                  |
|Issaquah                                     |
|Sydney, Au                                   |
|Dallas Texas Usa                             |
|Glasgow                                      |
|Louisville,ky                                |
|Solon, Oh                                    |
|Leeds, England                               |
|Missor, Usa                                  |
|Cambridge                                    |
|Sydney, Australi                             |
|France                                       |
|Lexington, Ky                                |
|Owego, Ny                                    |
|Manila, Philippines                          |
|Nw                                           |
|Greece                                       |
|Kingston, Canada                             |
|Chiapas                                      |
|Belgrade                                     |
|Norwalk, Ct                                  |
|Graz, Austria                                |
|Grand Rapids                                 |
|Moscow                                       |
|Birmingham, Al                               |
|Boston, Massachusetts                        |
|Bengaluru, India                             |
|Oslo                                         |
|Sterling, Va                                 |
|0                                            |
|Midwest                                      |
|Chennai                                      |
|30040                                        |
|Toronto, Canada                              |
|Montreal, Canada                             |
|Leeds, United Kingdom                        |
|Lenexa, Ks                                   |
|Texas                                        |
|Ridgecrest                                   |
|Cramlington, Uk                              |
|Windsor, Ontario; Canada                     |
|Greater Boston Area                          |
|Orlando,fl                                   |
|Lansing, Mi                                  |
|Dallas, Tx                                   |
|Pune, India                                  |
|Indianapolis                                 |
|Taiwan                                       |
|Compton Ca                                   |
|Chandler, Az                                 |
|New Delhi, India                             |
|Sfo                                          |
|Va                                           |
|Dublin                                       |
|Nice, France                                 |
|G3q3g                                        |
|Denver, Co                                   |
|Glasgow, Uk                                  |
|Victoria                                     |
|Cleveland                                    |
|null                                         |
|San Francisco                                |
|Berlin                                       |
|Nashville                                    |
|Slovakia                                     |
|Richmond, Va                                 |
|San Diego                                    |
|Fairfax, Va                                  |
|Kuala Lumpur                                 |
|Oklahoma City                                |
|New Haven, Ct, Usa                           |
|New York, Ny                                 |
|Omaha, Ne                                    |
|Orange County, Ca                            |
|Vancouver Canada                             |
|Falls Church, Va, Usa                        |
|Arbedo                                       |
|Bristol, Uk                                  |
|Argentina                                    |
|Westminster, Co                              |
|Malaga, Spain                                |
|St. Louis, Mo                                |
|Central New York                             |
|Belgium                                      |
|Remote (midwest)                             |
|Remote (sf Company)                          |
|Johnston, Iowa                               |
|Lisbon, Portugal                             |
|Albuquerque, Nm                              |
|Dc                                           |
|Not Sf                                       |
|Glasgow, Scotland                            |
|Detroit                                      |
|Berchtesgaden                                |
|Houston, Tx                                  |
|Rochester Ny                                 |
|Cambridge, Uk                                |
|Centennial, Co                               |
|Portland                                     |
|Mumbai, India                                |
|Krakow, Poland                               |
|Connecticut                                  |
|Detroit, Mi                                  |
|Englewood, Co                                |
|Bellingham Wa                                |
|Trento, Italy                                |
|Bowling Green, Ky                            |
|Tx                                           |
|Phoenix Az                                   |
|Eindhoven, The Netherlands                   |
|Calgary, Alberta                             |
|Dubai, United Arab Emirates                  |
|London                                       |
|Albuquerque, New Mexico                      |
|Costa Mesa, California                       |
|Adelaide, Au                                 |
|Russia, Spb                                  |
|Eire                                         |
|San Jose, Ca                                 |
|Rennes, France                               |
|Nebraska                                     |
|Bavaria                                      |
|Mumbai                                       |
|Boise                                        |
|Turin, Italy                                 |
|Vermont                                      |
|98004                                        |
|Bilbao, Spain                                |
|Moscow, Russia                               |
|St. Louis                                    |
|55414                                        |
|Toronto, On                                  |
|Bethlehem, Pa                                |
|Finland                                      |
|São Paulo, Brazil                            |
|Sf                                           |
|Gilbert, Az                                  |
|Boulder, Co                                  |
|Des Moines, Iowa                             |
|Londnon                                      |
|Montreal, Qc, Canada                         |
|Exton, Pa                                    |
|Brisbane                                     |
|Augusta, Me                                  |
|Valencia, Spain                              |
|Santa Clara                                  |
|Louisville, Ky                               |
|Sydney                                       |
|Montreal                                     |
|Herndon, Va                                  |
|Cincinnati, Oh                               |
|Tokyo                                        |
|Greater Los Angeles Area                     |
|Vienna                                       |
|Pleasanton, Ca                               |
|Peru                                         |
|Edegem                                       |
|Jblm, Wa                                     |
|Wilmington Nc                                |
|United States                                |
|Hillsboro                                    |
|Amsterdam, The Netherlands                   |
|Boise, Id (remote, Job Is Based In Nyc)      |
|India                                        |
|San Bruno                                    |
|China                                        |
|Dfgdfg                                       |
|Bloomington, Mn                              |
|Nottingham Uk                                |
|Reno Nevafa                                  |
|Atlabta                                      |
|Irvine                                       |
|Leeds, West Yorkshire, United Kingdom        |
|Salford                                      |
|Leicester                                    |
|Verona, Wisconsin                            |
|Athens, Greece (remote)                      |
|Vancouver, Ca                                |
|Curitiba, Brazil                             |
|Malta                                        |
|Kitchener, On                                |
|St Petersburg, Florida, Us                   |
|Sunnyvale Ca                                 |
|Oakland, Ca                                  |
|Arlington, Va                                |
|San Francisco Bay Area                       |
|Bucharest                                    |
|Foobar                                       |
|Bosnia                                       |
|Memphis                                      |
|Kitchener, Canada                            |
|高雄                                         |
|Vancouver, B.c.                              |
|Columbus, Oh                                 |
|Tunis                                        |
|Remote (poland)                              |
|Manchester, Uk                               |
|Salt Lake City, Utah                         |
|Coventry, Uk                                 |
|Boulder                                      |
|Frankfurt Am Main, Germany                   |
|Puerto Rico                                  |
|Champaign, Il                                |
|Chile                                        |
|Montvale Nj                                  |
|Aveiro, Portugal                             |
|Austin                                       |
|Wilton, Ct Usa                               |
|Los Angles                                   |
|Delray Beach, Fl                             |
|Bremerhaven, Germany                         |
|Adelaide, Australia                          |
|Melbourne, Australia                         |
|Virginia-washington Area                     |
|Washington D.c.                              |
|Huntsville, Al                               |
|Cape Town                                    |
|Some Dude's Anus                             |
|Needham, Massachusetts                       |
|Bachelor Of Science, Informathics            |
|Bialystok, Poland                            |
|Washington, D.c.                             |
|Stanford, Ca                                 |
|Telecommute                                  |
|Oklahoma                                     |
|Gaithersburg, Md                             |
|Milwaukee                                    |
|San Juan, Pr                                 |
|Warwickshire                                 |
|Richmond, Surrey                             |
|Atlanta, Georgia                             |
|Pasadena                                     |
|Easton, Pa                                   |
|Pittsburgh                                   |
|Cupertino Ca                                 |
|Palo Alto California                         |
|Hyderabad, India                             |
|제주                                         |
|95814                                        |
|Olympia, Wa                                  |
|Sunnyvale, Ca                                |
|Fairfax Va                                   |
|Noida                                        |
|Houston Tx                                   |
|Cheonan                                      |
|San Diego, Ca                                |
|Cambridge, Ma                                |
|Paris                                        |
|98102                                        |
|Montreal, Qc                                 |
|Dc-va-md Area                                |
|Redwood Shores                               |
|Pisa, Italy                                  |
|Kingsport, Tn                                |
|Williamsburg                                 |
|Waterloo, On                                 |

In [8]:
spark.sql('''
    SELECT initcap(job_title), count(1)
    FROM data_3
    GROUP BY 1
    ORDER BY 2 DESC
''').show(truncate=False)

+-------------------------+--------+
|initcap(job_title)       |count(1)|
+-------------------------+--------+
|Software Engineer        |642     |
|Senior Software Engineer |222     |
|Software Developer       |218     |
|Developer                |80      |
|Web Developer            |77      |
|Senior Developer         |56      |
|Data Scientist           |40      |
|Engineer                 |39      |
|Senior Software Developer|39      |
|Software Engineer Ii     |35      |
|Product Manager          |33      |
|Cto                      |33      |
|Devops Engineer          |25      |
|Senior Engineer          |24      |
|Consultant               |24      |
|Analyst                  |19      |
|Software Architect       |18      |
|Full Stack Developer     |17      |
|Sr Software Engineer     |16      |
|Front End Developer      |15      |
+-------------------------+--------+
only showing top 20 rows

In [9]:
spark.sql('''
    SELECT DISTINCT annual_base_pay
    FROM data_3
''').show(100000, truncate=False)

+------------------------------------+
|annual_base_pay                     |
+------------------------------------+
|57670 USD                           |
|50,000 EUR                          |
|$128,000                            |
|77,000                              |
|28500                               |
|175000                              |
|$33,000                             |
|57500                               |
|66000                               |
|46444                               |
|$74,500                             |
|125                                 |
|30953                               |
|44500                               |
|33500                               |
|185,000                             |
|75000 CAD                           |
|14000                               |
|30 000€                             |
|42100 USD                           |
|53000                               |
|112,000                             |
|7445745                             |
|7                                   |
|54,000                              |
|130,500                             |
|159000                              |
|79860                               |
|51                                  |
|36000000                            |
|150000                              |
|125,000                             |
|PKR 100000                          |
|240000                              |
|£31300                              |
|100,000NZD                          |
|102,000                             |
|20k €                               |
|142000                              |
|£130000                             |
|146,000                             |
|146900                              |
|50225 GBP                           |
|122,500                             |
|92500                               |
|87000                               |
|81000                               |
|15                                  |
|-1                                  |
|19800 euro                          |
|232                                 |
|79000                               |
|37800                               |
|25200                               |
|61.7k €                             |
|$48,000                             |
|93,000                              |
|39225                               |
|275,000                             |
|73000                               |
|139000                              |
|21000                               |
|£80000                              |
|100,000 USD                         |
|x                                   |
|80,800                              |
|1250000                             |
|£67000                              |
|153000                              |
|840000                              |
|3600000                             |
|93350                               |
|103,000                             |
|g23                                 |
|11000                               |
|85000 CAD                           |
|68,000                              |
|SGD 50,000                          |
|1111                                |
|110000                              |
|55,000                              |
|72500                               |
|62500 USD                           |
|1111111112221                       |
|69                                  |
|1500 / day corp2corp no bennies     |
|116300                              |
|£26000                              |
|71174.93                            |
|107280                              |
|135k                                |
|57,000                              |
|26000                               |
|112000                              |
|41000 EUR                           |
|33700                               |
|au$80000                            |
|$46,900                             |
|$85,000                             |
|42000 Euro                          |
|36,000                              |
|161,000                             |
|Food                                |
|50 000                              |
|170k                                |
|59800                               |
|5000                                |
|8,500                               |
|NOK 450000                          |
|123,000                             |
|SEK 420000                          |
|£49000                              |
|330000                              |
|128,000                             |
|75000                               |
|175,000                             |
|104000                              |
|€50,000                             |
|83,000                              |
|725000                              |
|82000                               |
|250,000                             |
|26,000                              |
|20500                               |
|€55,000                             |
|199,000                             |
|109200                              |
|122000                              |
|90000                               |
|123000                              |
|120000 USD                          |
|£62000                              |
|120000                              |
|£27500                              |
|82,500 CAD                          |
|97,000                              |
|42347                               |
|67000                               |
|41600                               |
|260,000                             |
|120510                              |
|€53,000                             |
|171000                              |
|132500                              |
|80k                                 |
|215000                              |
|625K                                |
|$34,800                             |
|100K                                |
|160                                 |
|£31000                              |
|5700                                |
|$160,000                            |
|129000                              |
|205000                              |
|108,500                             |
|$69/hr                              |
|RMB: 225k                           |
|72200                               |
|58000 EUR                           |
|$111,000                            |
|€54,000                             |
|54000 EUR                           |
|£45000                              |
|6,031.04                            |
|270000                              |
|£25,000                             |
|50,000                              |
|45,000                              |
|7500000                             |
|200000000                           |
|28800                               |
|CAN$100000                          |
|35000GBP                            |
|$66,500                             |
|64000                               |
|119320                              |
|€31,000                             |
|180000 USD / yr                     |
|€30,000                             |
|780000                              |
|€52,000                             |
|£45850                              |
|6100                                |
|50000AUD                            |
|80000 USD                           |
|52                                  |
|35                                  |
|128500                              |
|134000                              |
|37500                               |
|131,000                             |
|$70,000                             |
|80000 NZD                           |
|$39,500                             |
|£120000                             |
|31,000                              |
|£105,000                            |
|0                                   |
|49000                               |
|2000                                |
|10000                               |
|36402                               |
|ZAR 260000                          |
|81500                               |
|$100,000                            |
|$30/hr                              |
|£27,200                             |
|3300                                |
|113,000                             |
|110,000                             |
|185000                              |
|105,000                             |
|33000                               |
|143000                              |
|€27,000                             |
|320000                              |
|£80.000                             |
|138600                              |
|193000                              |
|$28,198                             |
|48,800                              |
|300000                              |
|£35000                              |
|2400e                               |
|20K                                 |
|110                                 |
|56000                               |
|122500                              |
|104,000                             |
|21027                               |
|29K                                 |
|£30,000                             |
|~70000?                             |
|null                                |
|145000                              |
|23000                               |
|124000                              |
|78500                               |
|156000000                           |
|12222                               |
|46150                               |
|115,800                             |
|$117,000                            |
|USD$120000                          |
|42600                               |
|SEK 380000                          |
|£31,000                             |
|27,000                              |
|$35,000                             |
|325000                              |
|36000                               |
|£38500                              |
|15,00,000 Rs                        |
|PKR 600000                          |
|7000                                |
|22300                               |
|78500 CAD                           |
|75,000                              |
|£42,000                             |
|20,000                              |
|96                                  |
|195,500                             |
|54100                               |
|77957.56                            |
|40000 GBP                           |
|27600                               |
|111000                              |
|1234555                             |
|$90/hr                              |
|8200                                |
|€84,000                             |
|130,000                             |
|70,000.00                           |
|275000                              |
|13000                               |
|86000000                            |
|131000                              |
|48000 USD                           |
|44000                               |
|900USD                              |
|156800                              |
|SGD 103000                          |
|101,500                             |
|51,000                              |
|105900                              |
|19000                               |
|23000 USD (NET)                     |
|80000                               |
|90,000                              |
|100k£                               |
|162000                              |
|700000                              |
|163000                              |
|87250                               |
|95000                               |
|EUR 5000                            |
|110000 USD                          |
|46100                               |
|HK$180000                           |
|€34,000                             |
|1520                                |
|139,000                             |
|55k                                 |
|99KBRL ~27.2KUSD by today's rate    |
|52,500                              |
|1,000,000 USD                       |
|15200                               |
|5010                                |
|405000                              |
|89000                               |
|160,000                             |
|167,000                             |
|£20000                              |
|13200                               |
|25,000                              |
|87,500                              |
|188,000                             |
|183000                              |
|30000 euros                         |
|27000                               |
|3609                                |
|£83,000                             |
|33600                               |
|575000 INR                          |
|78000                               |
|140                                 |
|121000                              |
|147000                              |
|£50,000                             |
|131                                 |
|5,40,000 INR                        |
|169000                              |
|82,000                              |
|129857                              |
|350000                              |
|99500                               |
|195000                              |
|86,000                              |
|£70000                              |
|CHF 60000                           |
|160000CAD                           |
|125000 CAD                          |
|131500                              |
|$56,000                             |
|124,000                             |
|46999                               |
|120                                 |
|€60,000                             |
|40000 euro                          |
|58000 USD                           |
|50,00,000 INR                       |
|43800                               |
|34200euros                          |
|29500                               |
|43000                               |
|123530                              |
|3.5                                 |
|374000                              |
|48000GBP                            |
|66625                               |
|46500 USD                           |
|12000                               |
|about $2                            |
|60 000 CAD                          |
|$114,500                            |
|39000                               |
|101,000                             |
|130                                 |
|44,000                              |
|40500                               |
|JPY 7,000,000                       |
|43000 EUR                           |
|236000                              |
|24073                               |
|10300                               |
|$23,000 USD                         |
|181000                              |
|90,000 USD                          |
|31000 USD                           |
|67750                               |
|137000                              |
|118000                              |
|267,000                             |
|€84,480                             |
|197400                              |
|40000                               |
|$50,000                             |
|119500                              |
|32400                               |
|JPY 10,000,000                      |
|60,000                              |
|62000                               |
|38400                               |
|57900                               |
|105000 CAD                          |
|ZAR 675,000                         |
|89000nzd                            |
|130000 AUD                          |
|136                                 |
|56500 usd                           |
|£61000                              |
|€19,800                             |
|1000                                |
|82500                               |
|92,000                              |
|71000                               |
|17000                               |
|8675309                             |
|1000000                             |
|6600eur                             |
|94,000                              |
|12,000                              |
|46,000                              |
|1200                                |
|NZ$80000                            |
|162,000                             |
|310000                              |
|290000                              |
|89,000                              |
|64400                               |
|108 AUD                             |
|86200                               |
|112168                              |
|155,000                             |
|$34,000                             |
|€28.40                              |
|141000                              |
|133000                              |
|102,000 CDN                         |
|36276                               |
|36000 USD                           |
|3000usd / month                     |
|92040                               |
|6320                                |
|43000 rubles                        |
|€67,500                             |
|90                                  |
|€20,000                             |
|93,500                              |
|147,000                             |
|37000                               |
|58000                               |
|90,000 CAD                          |
|€66k                                |
|100000                              |
|$32/hr                              |
|88,000                              |
|24000 USD                           |
|23200                               |
|1234                                |
|¥144000≈$20921                      |
|57516                               |
|16543                               |
|£25000 ($36000)                     |
|262000                              |
|99000                               |
|42500                               |
|61000                               |
|120,000                             |
|$120,000                            |
|98,000                              |
|$30,500                             |
|89950                               |
|€72,000                             |
|23                                  |
|105000                              |
|88000                               |
|41500 GBP                           |
|102                                 |
|520万                               |
|145,000                             |
|$80,000                             |
|49,300                              |
|$37,594                             |
|HUF 6000000                         |
|€47,000                             |
|$83,000                             |
|187468                              |
|4900                                |
|166500                              |
|167000                              |
|€22,500                             |
|137,500                             |
|133030                              |
|33333                               |
|190000                              |
|21,496.10                           |
|510000                              |
|63,000                              |
|65,000                              |
|24000                               |
|88800                               |
|$46,500                             |
|50/hour                             |
|55000                               |
|108500                              |
|356000                              |
|57200                               |
|17500                               |
|£34,000                             |
|56500                               |
|£41000                              |
|56800                               |
|EUR 10000                           |
|84000                               |
|205,000                             |
|72000 $AUD                          |
|USD 81200                           |

In [10]:
spark.sql('''
    SELECT DISTINCT explode(regexp_extract_all(upper(annual_base_pay), '([A-Z]{3,})'))
    FROM data_3
''').show(10000, truncate=False)

+-------+
|col    |
+-------+
|AWAY   |
|DKK    |
|KUSD   |
|REALLY |
|NZD    |
|HUF    |
|GBP    |
|CHF    |
|RUB    |
|BRL    |
|TODAY  |
|BENNIES|
|TESTING|
|TRAP   |
|CAD    |
|MILLION|
|KBRL   |
|CNY    |
|EUR    |
|RRR    |
|BONER  |
|RUBLES |
|TAX    |
|ZAR    |
|FOOD   |
|MONTH  |
|PKR    |
|EURO   |
|ABOUT  |
|NET    |
|NOK    |
|AUD    |
|POUNDS |
|CDN    |
|PER    |
|SECRET |
|JPY    |
|PEPE   |
|HKD    |
|YEAR   |
|INR    |
|RARE   |
|RMB    |
|CAN    |
|HOUR   |
|DAY    |
|CIRCA  |
|PLN    |
|YEN    |
|NOW    |
|THE    |
|CORP   |
|USD    |
|SEK    |
|EUROS  |
|HAVE   |
|AFTER  |
|MAKES  |
|RATE   |
|THIS   |
|SGD    |
+-------+

In an attempt to remove at least the currencies that were not fake. A list of valid ones were extracted from the `annual_base_pay` column and used to eliminate (turn the column to NULL) invalid information.

In [11]:
identified_currencies = ['AUD','BRL','CAD','CAN','CDN','CHF','CNY','DKK','EUR','GBP','HKD','HUF','INR','JPY','NOK','NZD','PKR','PLN','RMB','RUB','SEK','SGD','USD','YEN','ZAR']
currencies_regex = '|'.join(identified_currencies)

spark.sql(f'''
    SELECT annual_base_pay, regexp_extract(annual_base_pay, '({currencies_regex})') AS currency
    FROM data_3
    WHERE length(regexp_extract(annual_base_pay, '({currencies_regex})')) > 0
''').show(100000)

+--------------------+--------+
|     annual_base_pay|currency|
+--------------------+--------+
|    36.5K USD / YEAR|     USD|
|           62500 USD|     USD|
|          SEK 380000|     SEK|
|60000PLN (circa 1...|     PLN|
|           48000 USD|     USD|
|          120000 USD|     USD|
|         $23,000 USD|     USD|
|         ZAR 675,000|     ZAR|
|          NOK 450000|     NOK|
|          75,000 CAD|     CAD|
|           58000 EUR|     EUR|
|       1,000,000 USD|     USD|
|           45000 USD|     USD|
|           57670 USD|     USD|
|          50,000 EUR|     EUR|
|90000 BRL / 22500...|     BRL|
|             110 GBP|     GBP|
|           124000USD|     USD|
|            EUR 5000|     EUR|
|         DKK 1000000|     DKK|
|          PKR 100000|     PKR|
|          82,500 CAD|     CAD|
|          CAN$100000|     CAN|
|           51000 USD|     USD|
|~66 000 (250 000 ...|     PLN|
|           50000 EUR|     EUR|
|            110k CAD|     CAD|
|          USD$120000|     USD|
|          SEK 420000|     SEK|
|            35000GBP|     GBP|
|           54000 EUR|     EUR|
|          90,000 CAD|     CAD|
|           41500 GBP|     GBP|
|            50000AUD|     AUD|
|           43000 EUR|     EUR|
|          108000 AUD|     AUD|
|         102,000 CDN|     CDN|
|           41000 EUR|     EUR|
|           80000 NZD|     NZD|
|           20500 GBP|     GBP|
|           85000 CAD|     CAD|
|         HUF 6000000|     HUF|
|          101500 AUD|     AUD|
|         $84,500 AUD|     AUD|
|           70000$CAD|     CAD|
|           80000 USD|     USD|
|           50000 EUR|     EUR|
|         £37,000 GBP|     GBP|
|          90,000 USD|     USD|
|           90000 CAD|     CAD|
|          CHF 130000|     CHF|
|          130000 AUD|     AUD|
|              900USD|     USD|
|          100,000NZD|     NZD|
|           SGD 45600|     SGD|
|          CAD $60000|     CAD|
|         165,000 AUD|     AUD|
|           58000 USD|     USD|
|          105000 CAD|     CAD|
|           USD15,900|     USD|
|          60 000 CAD|     CAD|
|          72000 $AUD|     AUD|
|           95000 AUD|     AUD|
|        AUD $125,000|     AUD|
|       JPY 7,000,000|     JPY|
|         85,000$ CAD|     CAD|
|           75000 CAD|     CAD|
|         100,000 USD|     USD|
|          110000 USD|     USD|
|          200000 USD|     USD|
|         198,000 USD|     USD|
|           36000 USD|     USD|
|       50,00,000 INR|     INR|
|          75,000 USD|     USD|
|           RMB: 225k|     RMB|
|           99000 AUD|     AUD|
|          216000 CNY|     CNY|
|            85000NZD|     NZD|
|          PKR 600000|     PKR|
|           63000 USD|     USD|
|           24000 USD|     USD|
|          $960000HKD|     HKD|
|336000 RUB (~4800...|     RUB|
|          SGD 103000|     SGD|
|           20000 USD|     USD|
|           42100 USD|     USD|
|           52000 EUR|     EUR|
|66000 EURO after TAX|     EUR|
|           18000 EUR|     EUR|
|          SGD 50,000|     SGD|
|          ZAR 260000|     ZAR|
|           50225 GBP|     GBP|
|           70000 EUR|     EUR|
|     23000 USD (NET)|     USD|
|           50000 EUR|     EUR|
|           41000 EUR|     EUR|
|           73000 USD|     USD|
|           31000 USD|     USD|
|            48000GBP|     GBP|
|           39000 EUR|     EUR|
|           USD 81200|     USD|
|           CHF 60000|     CHF|
|     5.5 Million JPY|     JPY|
|             63k EUR|     EUR|
|           40000 GBP|     GBP|
|           160000CAD|     CAD|
|         INR 1100000|     INR|
|99KBRL ~27.2KUSD ...|     BRL|
|           PLN 64000|     PLN|
|           45000 EUR|     EUR|
|          125000 CAD|     CAD|
|            7.2M JPY|     JPY|
|           PLN 12000|     PLN|
|          575000 INR|     INR|
|          164000 USD|     USD|
|           46500 USD|     USD|
|           EUR 10000|     EUR|
|           95680 USD|     USD|
|             108 AUD|     AUD|
|     180000 USD / yr|     USD|
|      JPY 10,000,000|     JPY|
|        5,40,000 INR|     INR|
|              450USD|     USD|
|           78500 CAD|     CAD|
|             73k USD|     USD|
|          75,000 EUR|     EUR|
|             51k USD|     USD|
+--------------------+--------+

In [12]:
currency_symbols_regex = '[¥€£]'

spark.sql(f'''
    SELECT DISTINCT regexp_extract(annual_base_pay, '({currency_symbols_regex})') AS currency
    FROM data_3
''').show(100000)

+--------+
|currency|
+--------+
|    null|
|       ¥|
|        |
|       £|
|       €|
+--------+

In [13]:
spark.sql(f'''
    SELECT CASE WHEN regexp_like(salary, '^[0-9.,]+$')
                THEN regexp_replace(salary, '[.,]', '') || if(regexp_like(salary, '^[0-9.,]+?[.,][0-9]{2}$'), '', '00')
                ELSE NULL 
                END AS final_salary,
                currency,
                salary,
                annual_base_pay
    FROM (
        SELECT regexp_replace(regexp_replace(regexp_replace(upper(annual_base_pay), '{currencies_regex}|{currency_symbols_regex}|[$~ ]', ''), '(?<=[0-9])(k|K)', '000'), '(?<=[0-9])(m|M)', '000000') AS salary,
               regexp_extract(upper(annual_base_pay), '({currencies_regex}|{currency_symbols_regex})') AS currency,
               annual_base_pay 
        FROM data_3
    )
    ORDER BY 1
''').show(truncate=False)

+------------+--------+-----------------+-----------------------+
|final_salary|currency|salary           |annual_base_pay        |
+------------+--------+-----------------+-----------------------+
|null        |NOK     | 450000          |NOK 450000             |
|null        |        |-                |-                      |
|null        |        |70000?           |~70000?                |
|null        |null    |null             |null                   |
|null        |EUR     |30000OS          |30000 euros            |
|null        |USD     |36.5000/YEAR     |36.5K USD / YEAR       |
|null        |BRL     |90000/22500      |90000 BRL / 22500 USD  |
|null        |null    |null             |null                   |
|null        |        |G23              |g23                    |
|null        |        |15000(NOW)       |15k (now)              |
|null        |        |ABOUT2           |about $2               |
|null        |        |110000-120000    |110000-120000          |
|null        |PKR     | 100000          |PKR 100000             |
|null        |        |32/HR            |$32/hr                 |
|null        |        |J                |j                      |
|null        |PLN     |66000(250000)    |~66 000 (250 000 PLN)  |
|null        |        |55000-60000      |55k - 60k              |
|null        |null    |null             |null                   |
|null        |PLN     |60000(CIRCA16000)|60000PLN (circa 16000$)|
|null        |        |HAVE             |HAVE                   |
+------------+--------+-----------------+-----------------------+
only showing top 20 rows

One valid case of `annual_base_pay` value was found on `annual_base_pay = 'NOK 450000'`. The problem was that the RegEx used could not remove the whitespace from the string due to the fact that it is actually a different symbol on Unicode notation (`u'\xa0'`). This symbol was added manually to the RegEx, eliminating 16 of false-negative cases on the dataset, but further "whitespace" symbols could be present.

In [14]:
spark.sql(f'''
    SELECT CASE WHEN regexp_like(salary, '^[0-9.,]+$')
                THEN regexp_replace(salary, '[.,]', '') || if(regexp_like(salary, '^[0-9.,]+?[.,][0-9]{2}$'), '', '00')
                ELSE NULL 
                END AS final_salary,
                currency,
                salary,
                annual_base_pay
    FROM (
        SELECT regexp_replace(regexp_replace(regexp_replace(upper(annual_base_pay), '{currencies_regex}|{currency_symbols_regex}|[$~ ]', ''), '(?<=[0-9])(k|K)', '000'), '(?<=[0-9])(m|M)', '000000') AS salary,
               regexp_extract(upper(annual_base_pay), '({currencies_regex}|{currency_symbols_regex})') AS currency,
               annual_base_pay 
        FROM data_3
    )
    WHERE currency = 'NOK'
    ORDER BY 1
''').show(truncate=False)

+------------+--------+-------+---------------+
|final_salary|currency|salary |annual_base_pay|
+------------+--------+-------+---------------+
|null        |NOK     | 450000|NOK 450000     |
+------------+--------+-------+---------------+

In [15]:
spark.sql(f'''
    SELECT final_salary IS NULL, count(1)
    FROM (
        SELECT CASE WHEN regexp_like(salary, '^[0-9.,]+$')
                    THEN regexp_replace(salary, '[.,]', '') || if(regexp_like(salary, '^[0-9.,]+?[.,][0-9]{2}$'), '', '00')
                    ELSE NULL 
                    END AS final_salary
        FROM (
            SELECT regexp_replace(regexp_replace(regexp_replace(upper(annual_base_pay), '{currencies_regex}|{currency_symbols_regex}|[$~ ]', ''), '(?<=[0-9])(k|K)', '000'), '(?<=[0-9])(m|M)', '000000') AS salary
            FROM data_3
            WHERE annual_base_pay IS NOT NULL
        )
    )
    GROUP BY 1
''').show(truncate=False)

+----------------------+--------+
|(final_salary IS NULL)|count(1)|
+----------------------+--------+
|true                  |87      |
|false                 |3689    |
+----------------------+--------+

In [16]:
spark.sql(f'''
    SELECT CASE WHEN regexp_like(salary, '^[0-9.,]+$')
                THEN regexp_replace(salary, '[.,]', '') || if(regexp_like(salary, '^[0-9.,]+?[.,][0-9]{2}$'), '', '00')
                ELSE NULL 
                END AS final_salary,
                currency,
                salary,
                annual_base_pay
    FROM (
        SELECT regexp_replace(regexp_replace(regexp_replace(upper(annual_base_pay), '{currencies_regex}|{currency_symbols_regex}|[$~ ]', ''), '(?<=[0-9])(k|K)', '000'), '(?<=[0-9])(m|M)', '000000') AS salary,
               regexp_extract(upper(annual_base_pay), '({currencies_regex}|{currency_symbols_regex})') AS currency,
               annual_base_pay 
        FROM data_3
    )
    WHERE currency = 'NOK'
''').collect()

[Row(final_salary=None, currency='NOK', salary='\xa0450000', annual_base_pay='NOK\xa0450000')]

In [17]:
unicode_whitespace = u'\xa0'

In [18]:
spark.sql(f'''
    SELECT CASE WHEN regexp_like(salary, '^[0-9.,]+$')
                THEN regexp_replace(salary, '[.,]', '') || if(regexp_like(salary, '^[0-9.,]+?[.,][0-9]{2}$'), '', '00')
                ELSE NULL 
                END AS final_salary,
                currency,
                salary,
                annual_base_pay
    FROM (
        SELECT regexp_replace(regexp_replace(regexp_replace(upper(annual_base_pay), '{currencies_regex}|{currency_symbols_regex}|[$~{unicode_whitespace} ]', ''), '(?<=[0-9])(k|K)', '000'), '(?<=[0-9])(m|M)', '000000') AS salary,
               regexp_extract(upper(annual_base_pay), '({currencies_regex}|{currency_symbols_regex})') AS currency,
               annual_base_pay 
        FROM data_3
    )
    WHERE currency = 'NOK'
''').show(truncate=False)

+------------+--------+------+---------------+
|final_salary|currency|salary|annual_base_pay|
+------------+--------+------+---------------+
|45000000    |NOK     |450000|NOK 450000     |
+------------+--------+------+---------------+

In [19]:
spark.sql(f'''
    SELECT final_salary IS NULL, count(1)
    FROM (
        SELECT CASE WHEN regexp_like(salary, '^[0-9.,]+$')
                    THEN regexp_replace(salary, '[.,]', '') || if(regexp_like(salary, '^[0-9.,]+?[.,][0-9]{2}$'), '', '00')
                    ELSE NULL 
                    END AS final_salary
        FROM (
            SELECT regexp_replace(regexp_replace(regexp_replace(upper(annual_base_pay), '{currencies_regex}|{currency_symbols_regex}|[$~{unicode_whitespace} ]', ''), '(?<=[0-9])(k|K)', '000'), '(?<=[0-9])(m|M)', '000000') AS salary
            FROM data_3
            WHERE annual_base_pay IS NOT NULL
        )
    )
    GROUP BY 1
''').show(truncate=False)

+----------------------+--------+
|(final_salary IS NULL)|count(1)|
+----------------------+--------+
|true                  |71      |
|false                 |3705    |
+----------------------+--------+

In [20]:
spark.sql(f'''
    SELECT *
    FROM (
        SELECT annual_base_pay, regexp_replace(regexp_replace(regexp_replace(upper(annual_base_pay), '{currencies_regex}|{currency_symbols_regex}|[$~{unicode_whitespace} ]', ''), '(?<=[0-9])(k|K)', '000'), '(?<=[0-9])(m|M)', '000000') AS salary
        FROM data_3
    )
    WHERE regexp_like(salary, '^[0-9.,]+$') = FALSE
''').show(100, truncate=False)

+------------------------------------+----------------------------+
|annual_base_pay                     |salary                      |
+------------------------------------+----------------------------+
|$24/hr                              |24/HR                       |
|36.5K USD / YEAR                    |36.5000/YEAR                |
|55k - 60k                           |55000-60000                 |
|j                                   |J                           |
|15k (now)                           |15000(NOW)                  |
|60000PLN (circa 16000$)             |60000(CIRCA16000)           |
|110000-120000                       |110000-120000               |
|1 rare pepe                         |1RAREPEPE                   |
|~70000?                             |70000?                      |
|30000 euros                         |30000OS                     |
|90000 BRL / 22500 USD               |90000/22500                 |
|g23                                 |G23                         |
|about $2                            |ABOUT2                      |
|1500 / day corp2corp no bennies     |1500/DAYCORP2CORPNOBENNIES  |
|$32/hr                              |32/HR                       |
|~66 000 (250 000 PLN)               |66000(250000)               |
|HAVE                                |HAVE                        |
|no                                  |NO                          |
|Rrr                                 |RRR                         |
|40000 euro                          |40000O                      |
|A                                   |A                           |
|-                                   |-                           |
|31/ hr                              |31/HR                       |
|60k/yr                              |60000/YR                    |
|$35 per hour                        |35PERHOUR                   |
|-1                                  |-1                          |
|secret                              |SECRET                      |
|R$ 72k                              |R72000                      |
|£42000 / $60300                     |42000/60300                 |
|NZ$75,000                           |NZ75,000                    |
|42000 Euro                          |42000O                      |
|$30/hr                              |30/HR                       |
|43000 rubles                        |43000LES                    |
|30000 pounds                        |30000POUNDS                 |
|40 hr                               |40HR                        |
|$30/hr                              |30/HR                       |
|NZ$80000                            |NZ80000                     |
|$69/hr                              |69/HR                       |
|$90/hr                              |90/HR                       |
|₹1200000                            |₹1200000                    |
|Testing                             |TESTING                     |
|15,00,000 Rs                        |15,00,000RS                 |
|RMB: 225k                           |:225000                     |
|Rs. 2,300,000                       |RS.2,300,000                |
|19800 euro                          |19800O                      |
|336000 RUB (~4800USD)               |336000(4800)                |
|HK$180000                           |HK180000                    |
|2400e                               |2400E                       |
|a trap a day makes the boner go away|ATRAPADAYMAKESTHEBONERGOAWAY|
|66000 EURO after TAX                |66000OAFTERTAX              |
|x                                   |X                           |
|23000 USD (NET)                     |23000(NET)                  |
|£25000 ($36000)                     |25000(36000)                |
|Food                                |FOOD                        |
|10468 - really                      |10468-REALLY                |
|1500000 Rs                          |1500000RS                   |
|5.5 Million JPY                     |5.5000000ILLION             |
|99KBRL ~27.2KUSD by today's rate    |9900027.2000BYTODAY'SRATE   |
|₹420000                             |₹420000                     |
|34200euros                          |34200OS                     |
|au$80000                            |AU80000                     |
|$50.00 hour                         |50.00HOUR                   |
|50/hour                             |50/HOUR                     |
|This                                |THIS                        |
|180000 USD / yr                     |180000/YR                   |
|520万                               |520万                       |
|3000usd / month                     |3000/MONTH                  |
|90000 Euro                          |90000O                      |
|¥144000≈$20921                      |144000≈20921                |
|R$176000                            |R176000                     |
|a                                   |A                           |
+------------------------------------+----------------------------+

In [21]:
spark.sql(f'''
    SELECT final_bonus IS NULL, count(1)
    FROM (
        SELECT CASE WHEN regexp_like(bonus, '^[0-9.,]+$')
                    THEN regexp_replace(bonus, '[.,]', '') || if(regexp_like(bonus, '^[0-9.,]+?[.,][0-9]{2}$'), '', '00')
                    ELSE NULL 
                    END AS final_bonus
        FROM (
            SELECT regexp_replace(regexp_replace(regexp_replace(upper(annual_bonus), '{currencies_regex}|{currency_symbols_regex}|[$~{unicode_whitespace} ]', ''), '(?<=[0-9])(k|K)', '000'), '(?<=[0-9])(m|M)', '000000') AS bonus
            FROM data_3
            WHERE annual_bonus IS NOT NULL
        )
    )
    GROUP BY 1
''').show(truncate=False)

+---------------------+--------+
|(final_bonus IS NULL)|count(1)|
+---------------------+--------+
|true                 |184     |
|false                |2485    |
+---------------------+--------+

In [22]:
spark.sql(f'''
    SELECT CASE WHEN regexp_like(bonus, '^[0-9.,]+$')
                THEN regexp_replace(bonus, '[.,]', '') || if(regexp_like(bonus, '^[0-9.,]+?[.,][0-9]{2}$'), '', '00')
                ELSE NULL 
                END AS final_bonus,
                annual_bonus
    FROM (
        SELECT annual_bonus, regexp_replace(regexp_replace(regexp_replace(upper(annual_bonus), '{currencies_regex}|{currency_symbols_regex}|[$~{unicode_whitespace} ]', ''), '(?<=[0-9])(k|K)', '000'), '(?<=[0-9])(m|M)', '000000') AS bonus
        FROM data_3
        WHERE annual_bonus IS NOT NULL
    )
    WHERE regexp_like(bonus, '^[0-9.,]+$') = FALSE
''').show(200, truncate=False)

+-----------+--------------------------------------------------------+
|final_bonus|annual_bonus                                            |
+-----------+--------------------------------------------------------+
|null       |10%                                                     |
|null       |15000 (Just for first 4 months as a hire)               |
|null       |10%                                                     |
|null       |2 - 3%                                                  |
|null       |10%                                                     |
|null       |2%                                                      |
|null       |25%                                                     |
|null       |$0-$50,000                                              |
|null       |1%                                                      |
|null       |variable, around 10% of base salary (6000$)             |
|null       |15%                                                     |
|null       |0-25%                                                   |
|null       |14000-20000                                             |
|null       |NA                                                      |
|null       |5%                                                      |
|null       |pepe stock                                              |
|null       |1000-5000                                               |
|null       |7%                                                      |
|null       |10% of base                                             |
|null       |$243 monthly salary increment                           |
|null       |10%                                                     |
|null       |a box of lube                                           |
|null       |10%                                                     |
|null       |10%                                                     |
|null       |10% of Salary                                           |
|null       |10%                                                     |
|null       |I don't do anal                                         |
|null       |3%                                                      |
|null       |na                                                      |
|null       |O                                                       |
|null       |no                                                      |
|null       |5%                                                      |
|null       |N/a                                                     |
|null       |7%                                                      |
|null       |5%                                                      |
|null       |<=15% of salary                                         |
|null       |10%                                                     |
|null       |Profit Share Bonus                                      |
|null       |~10%                                                    |
|null       |No                                                      |
|null       |None                                                    |
|null       |RELATIONS                                               |
|null       |15%                                                     |
|null       |-                                                       |
|null       |15% (Profit Sharing)                                    |
|null       |ha                                                      |
|null       |10%                                                     |
|null       |35k-52k (based on company performance)                  |
|null       |up to 10%                                               |
|null       |up to 15%                                               |
|null       |5000-10000                                              |
|null       |O                                                       |
|null       |32,000 cash                                             |
|null       |5%                                                      |
|null       |10%                                                     |
|null       |10% but that NEVER happens                              |
|null       |5-10%                                                   |
|null       |10%                                                     |
|null       |3%                                                      |
|null       |5-10k                                                   |
|null       |10% of salary                                           |
|null       |up to 10%                                               |
|null       |18-22% of salary                                        |
|null       |n/a                                                     |
|null       |5%                                                      |
|null       |8%                                                      |
|null       |0-15%                                                   |
|null       |Unknown                                                 |
|null       |10%                                                     |
|null       |Yes                                                     |
|null       |None                                                    |
|null       |5%                                                      |
|null       |TBD                                                     |
|null       |15% of base pay                                         |
|null       |3%                                                      |
|null       |10%                                                     |
|null       |~4%                                                     |
|null       |20%                                                     |
|null       |1%                                                      |
|null       |15%                                                     |
|null       |300 pounds                                              |
|null       |25,000 vested over 4 years                              |
|null       |¯\_(ツ)_/¯                                              |
|null       |N/A                                                     |
|null       |5%                                                      |
|null       |20000 2nd year                                          |
|null       |10%                                                     |
|null       |Varies on performance, up to 15% of annual for exceeding|
|null       |5%                                                      |
|null       |5%                                                      |
|null       |ca. 15000                                               |
|null       |<= 15%                                                  |
|null       |depending on performance                                |
|null       |10%                                                     |
|null       |-                                                       |
|null       |1%                                                      |
|null       |20%                                                     |
|null       |10-20%                                                  |
|null       |10%                                                     |
|null       |20%                                                     |
|null       |20%                                                     |
|null       |6%                                                      |
|null       |10%                                                     |
|null       |10%                                                     |
|null       |50% target                                              |
|null       |28000*2                                                 |
|null       |2%                                                      |
|null       |10-20% Base                                             |
|null       |?                                                       |
|null       |up to 20% yearly salary                                 |
|null       |?                                                       |
|null       |n/a                                                     |
|null       |10%                                                     |
|null       |10%                                                     |
|null       |3%                                                      |
|null       |₹0                                                      |
|null       |10%                                                     |
|null       |0-12750NZD                                              |
|null       |0% or 1% (most years 0%)                                |
|null       |15%                                                     |
|null       |10%                                                     |
|null       |None                                                    |
|null       |up to 13% of Base Pay                                   |
|null       |HK$15000                                                |
|null       |?                                                       |
|null       |-                                                       |
|null       |?                                                       |
|null       |N/A                                                     |
|null       |10-20% Annual Pay                                       |
|null       |11%                                                     |
|null       |n/a                                                     |
|null       |Varies                                                  |
|null       |8-10%                                                   |
|null       |10%                                                     |
|null       |?                                                       |
|null       |5%                                                      |
|null       |50%                                                     |
|null       |up to 9600                                              |
|null       |3%                                                      |
|null       |25%                                                     |
|null       |1.5 Million JPY                                         |
|null       |8%                                                      |
|null       |10%                                                     |
|null       |3%                                                      |
|null       |None                                                    |
|null       |10%                                                     |
|null       |10%                                                     |
|null       |3%                                                      |
|null       |3%                                                      |
|null       |2-3000                                                  |
|null       |10%                                                     |
|null       |8%                                                      |
|null       |none                                                    |
|null       |depends on business / ~ $800                            |
|null       |-                                                       |
|null       |Variable                                                |
|null       |Up to 10,000                                            |
|null       |1%                                                      |
|null       |3-4%                                                    |
|null       |10-15%                                                  |
|null       |1000-10000 (Varies, improving now)                      |
|null       |20%                                                     |
|null       |Between 1 and 3%                                        |
|null       |£0-£5000                                                |
|null       |Performance pay                                         |
|null       |34万                                                    |
|null       |nothing                                                 |
|null       |8-12k                                                   |
|null       |6%                                                      |
|null       |0 to 3 extra salaries (1950)                            |
|null       |10%                                                     |
|null       |11%                                                     |
|null       |n/a                                                     |
|null       |5-10%                                                   |
|null       |3%                                                      |
|null       |NA                                                      |
|null       |5%                                                      |
|null       |¥12000≈1743                                             |
|null       |R$0                                                     |
|null       |variable                                                |
|null       |Variable                                                |
|null       |0-10%                                                   |
|null       |10%                                                     |
|null       |Might vary from 5k to 15k                               |
+-----------+--------------------------------------------------------+

`years_of_experience` column is not a range-based value, but a free-form text value, so it could not be directly converted to a numerical representation.

In [23]:
spark.sql(f'''
    SELECT DISTINCT years_of_experience
    FROM data_3
    ORDER BY 1
''').show(truncate=False)

+-------------------+
|years_of_experience|
+-------------------+
|null               |
|-1                 |
|-10                |
|-114               |
|-13                |
|-16                |
|-3                 |
|-6                 |
|-9001              |
|0                  |
|0 (Just graduated) |
|0.2                |
|0.5                |
|0.6                |
|0.75               |
|0.9                |
|1                  |
|1 of employment    |
|1.2                |
|1.25               |
+-------------------+
only showing top 20 rows

Also, many values where clearly invalid due to the fact of being negatives, and were removed (turned to NULL).

In [24]:
spark.sql(f'''
    SELECT CAST(years_of_experience AS DOUBLE) > 0, count(1)
    FROM data_3
    WHERE years_of_experience IS NOT NULL
    GROUP BY 1
''').show(truncate=False)

+-----------------------------------------+--------+
|(CAST(years_of_experience AS DOUBLE) > 0)|count(1)|
+-----------------------------------------+--------+
|null                                     |5       |
|true                                     |3317    |
|false                                    |120     |
+-----------------------------------------+--------+

In [25]:
spark.sql(f'''
    SELECT years_of_experience
    FROM data_3
    WHERE years_of_experience IS NOT NULL
    AND CAST(years_of_experience AS DOUBLE) IS NULL
''').show(truncate=False)

+-------------------+
|years_of_experience|
+-------------------+
|1 of employment    |
|<1                 |
|0 (Just graduated) |
|10+ years          |
|5 years            |
+-------------------+

In [26]:
def outer_monetary_query_expression(column: str):
    return f'''
        CAST(
            CAST(CASE WHEN regexp_like({column}, '^[0-9.,]+$')
                      THEN regexp_replace({column}, '[.,]', '') || if(regexp_like({column}, '^[0-9.,]+?[.,][0-9]{{2}}$'), '', '00')
                      ELSE NULL 
                 END
                 AS LONG
            ) / 100
            AS DECIMAL(15,2)
        )
    '''

def inner_monetary_query_expression(column: str):
    return f"regexp_replace(regexp_replace(regexp_replace(upper({column}), '{currencies_regex}|{currency_symbols_regex}|[$~{unicode_whitespace} ]', ''), '(?<=[0-9])(K)', '000'), '(?<=[0-9])(M)', '000000') AS {column}"


inner_annual_bonus_expr = inner_monetary_query_expression('annual_bonus')
outer_annual_bonus_expr = outer_monetary_query_expression('annual_bonus')

inner_annual_base_pay_expr = inner_monetary_query_expression('annual_base_pay')
outer_annual_base_pay_expr = outer_monetary_query_expression('annual_base_pay')

inner_years_of_experience_expr = "CAST(years_of_experience AS DOUBLE) AS years_of_experience"
outer_years_of_experience_expr = 'if(years_of_experience >= 0, years_of_experience, NULL)'

timestamp_expr = "to_timestamp(timestamp, 'M/d/yyyy HH:mm:ss') AS timestamp" 
location_expr = 'trim(location) AS location'
job_title_expr = 'trim(job_title) AS job_title'
currency_expr = f"regexp_extract(upper(annual_base_pay), '({currencies_regex}|{currency_symbols_regex})') AS currency"

final_df = spark.sql(f'''
    SELECT timestamp,
           {outer_annual_base_pay_expr} AS annual_salary,
           {outer_annual_bonus_expr} AS annual_bonus,
           currency,
           {outer_years_of_experience_expr} years_experience,
           location,
           job_title
    FROM (
        SELECT {inner_annual_bonus_expr},
               {inner_annual_base_pay_expr},
               {inner_years_of_experience_expr},
               {timestamp_expr},
               {location_expr},
               {job_title_expr},
               {currency_expr}
        FROM data_3
    )
''')

final_df.printSchema()

final_df.show()

root
 |-- timestamp: timestamp (nullable = true)
 |-- annual_salary: decimal(15,2) (nullable = true)
 |-- annual_bonus: decimal(15,2) (nullable = true)
 |-- currency: string (nullable = true)
 |-- years_experience: double (nullable = true)
 |-- location: string (nullable = true)
 |-- job_title: string (nullable = true)

+-------------------+-------------+------------+--------+----------------+-------------------+--------------------+
|          timestamp|annual_salary|annual_bonus|currency|years_experience|           location|           job_title|
+-------------------+-------------+------------+--------+----------------+-------------------+--------------------+
|               null|         null|        null|    null|            null|               null|                null|
|2016-03-21 12:54:49|    122000.00|        null|        |            18.0|        Raleigh, NC|  Software Developer|
|2016-03-21 12:58:52|    125000.00|        0.00|        |            13.0|  San Francisco, CA|    Systems Engineer|
|2016-03-21 12:58:57|     83000.00|       50.00|        |            null|       San Diego CA|    Systems engineer|
|2016-03-21 12:58:58|     65000.00|     5000.00|        |            15.0|    Bentonville, AR|    Senior Developer|
|2016-03-21 12:59:11|     86000.00|     6000.00|        |             4.0|      Cleveland, OH|   Software Engineer|
|2016-03-21 12:59:30|    200000.00|    40000.00|        |            10.0|      Palo Alto, CA| Director of Product|
|2016-03-21 13:00:17|    105000.00|     8500.00|        |             4.0|            Waltham|                 MTS|
|2016-03-21 13:00:20|         null|        null|    null|            null|               null|                null|
|2016-03-21 13:01:19|         1.00|        null|        |            null|               null|                  zz|
|2016-03-21 13:01:19|     90500.00|        0.00|        |             2.0|Copenhagen, Denmark|  Software Developer|
|2016-03-21 13:02:01|    105000.00|    20000.00|        |            null|               null|Sr Operations Eng...|
|2016-03-21 13:02:04|     80000.00|        null|        |            null|               null|                asdf|
|2016-03-21 13:02:08|    110000.00|     7000.00|        |             4.0|          Cupertino|   Software Engineer|
|2016-03-21 13:03:03|    115000.00|        null|        |            10.0|         Austin, TX|     DevOps Engineer|
|2016-03-21 13:03:06|     40000.00|      500.00|        |             5.0|     Eastern Oregon|       IT Technician|
|2016-03-21 13:03:23|     30000.00|        null|        |            null|               null|   Software engineer|
|2016-03-21 13:03:35|     45000.00|     1500.00|        |             4.0|        Madison, WI|    Lead Interviewer|
|2016-03-21 13:03:52|    135000.00|        0.00|        |             8.0|      New York City|Senior software e...|
|2016-03-21 13:03:56|    135000.00|     7000.00|        |            10.0|      Milwaukee, WI|   Software Engineer|
+-------------------+-------------+------------+--------+----------------+-------------------+--------------------+
only showing top 20 rows

In [27]:
final_df.write.parquet('./optimized_data/data_3')